@{
    ViewData["Title"] = "Home Page";
}

<a href=/eman/index>'adto sa hellow world'</a> 
<div class="text-center">
    <h1 class="display-4">Skwela² ra Gryud</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
